<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/CSS/Dinkyui/dinkyui.min.css"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
</head>
<body>

<div th:fragment="footer">
<footer class="page amber-darken">
  <div class="content">
    <div class="container">
      <div class="row t-black">
        <div class="col-12 md-4 push-md-1">
          <div class="center">
            <h4>Sobre</h4>
          </div>
          <p class="justify">
            <span class="t-white">Burguer Smash</span> é uma companhia renomada no mercado mundial de Fast-Food. Fundada por <span class="t-white">Alessandro S. Silva</span> para um trabalho da disciplina de Desenvolvimento Web.
          </p>
        </div>
        <div class="col-12 md-2 push-md-3">
          <h4>Redes Sociais</h4>
          <ul class="circle">
            <li>
              <a href="#">Instagram</a>
            </li>
            <li>
              <a href="#">Facebook</a>
            </li>
            <li>
              <a href="#">Twitter</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright center">
    © 2019 <strong>Dinky UI CSS</strong>. Todos os direitos reservados.
  </div>
</footer>
</div>          

</body>
</html>